extends layout

block content
    
  .row.justify-content-center
    .col-sm-6
      legend New Pet
      form(action="#", id="new-pet")
        .form-group
            label Name
            span(class="required-field") *
            input.form-control(name="name" required)
        .form-group
            label Birthday
            span(class="required-field") *
            input.form-control(name="birthday" required)
        .form-group
            label Species
            span(class="required-field") *
            input.form-control(name="species" required)
        .form-group
            label Rectangular Image URL
            span(class="required-field") *
            input.form-control(name="picUrl" required type="url") 
        .form-group
            label Square Image URL
            span(class="required-field") *
            input.form-control(name="picUrlSq" required type="url")   
        .form-group
            label Favorite Food
            span(class="required-field") *
            input.form-control(name="favoriteFood" required) 
        .form-group
            label Description
            span(class="required-field") *
            textarea.form-control(name="description" required)   
        button(type="submit").btn.btn-primary Save